<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gomongo.app"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-sdk android:targetSdkVersion="8" android:minSdkVersion="8"></uses-sdk>
    <application android:icon="@drawable/icon"
                 android:label="@string/app_name">
        <uses-library android:name="com.google.android.maps" />
        
        <activity android:name=".Home"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FindUs"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".LocationDetails"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".CreateBowl"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".AddFood"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".ShareBowl"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".MongoPhoto"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".ImageGallery"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".About"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".Promotions"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".AnnotateImage"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
          <intent-filter>
            <action android:name="android.intent.action.SEND" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:mimeType="image/*" />
          </intent-filter>
        </activity>
        
        <uses-sdk version="8"
                  android:minSdkVersion="8" />
        
        <uses-feature android:name="android.hardware.camera" />
    </application>
</manifest> 